
<style>
table, td, th {
    border: 1px solid black;
    height: 20px;
    width: 750px;
    text-align: center; 
       
}

th {
    background-color: blue;
    color: red;
   
}
td{
	background-color: #848484;
    color: #F7FE2E;
}
</style>
<table>
<tr>	
	<th >NAME</th>
	<th>Location</th>
	<th>Actions</th>	
	</tr>
<% @hotels.each do |hotel|  %>
<tr>
<td><a href="index"><%=hotel.hotel_Name%></a></td>
<td><%=hotel.hotel_location%></td>
<td><%= link_to("View Menu",{:controller=>'menus',:hotel_id=>hotel.id})%></td>
</tr>
<% end%>
</table>