<html>
    <body style="background-color: #fff;">
        <%= form_for :location, :url=>{:action=>'create'}  do |f| %>
        <div style="margin: auto; margin-top: 20%; width: 50%">
            <table>
    <tr>
        <td><%= f.label(:lbllocation ,'Location Name') %></td>
        <td><%= f.text_field :Locationname %></td>        
    </tr>
    <tr>
        <td colspan="2" align="center">
            <%=f.submit "Save", :name=>'btnsave'%>
        </td>
    </tr>
</table>
        </div>


<%end%>
    </body>
</html>

